* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif; ;
}

ul li{
	list-style: none;
}

a{
	text-decoration: none;
}

.tc{
	text-align: center;
}


